/* Import font // font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
/* Variables */
:root{
    --black: rgb(30, 30, 30);
    --darkcolor: rgb(211, 211, 211);
    --lightcolor: rgb(200, 200, 200);
    --white: rgb(230, 230, 230);
    --blueA: rgb(50, 110, 220, .8);
    --blueB: rgb(30, 110, 255);
    --shadowDark:rgba(30, 30, 30, .4);
    --shadowLight:rgb(255, 255, 255);
}
/* End of Variables */
/* General Styling rules */
*{padding: 0; margin: 0;  font-family: 'Roboto', sans-serif; box-sizing: border-box;}
body{text-align: center; justify-content: space-between!important; flex-direction: column; height: 100vh; background-color: var(--darkcolor); color: var(--black);}
img{width: 3rem;}
/* End  of General Styling rules */
/* Utility Classes */
.center{display: flex; justify-content: center; align-items: center;}
.morph{box-shadow: 6px 6px 5px var(--shadowDark), -6px -6px 13px var(--shadowLight);}
.morph-inv{box-shadow:inset 3px 3px 5px var(--shadowDark),inset -3px -3px 15px var(--shadowLight);}
.hidden{display:none!important;}
/* End of Utility Classes */
/* Header & Footer_Nav */
    /* Header */
.title{width: 100%; height: 10vh; position: relative; z-index: 10; background-color: var(--lightcolor);}
.title-text{font-size: 2.5rem; font-weight: normal; letter-spacing: 0.5rem;}
.title-text span{color:var(--blueB); font-weight: bold;}
    /* End of Header */
    /* Footer_Nav */
.nav{width: 100%; height: 10vh;}
.nav-item{margin: 0 2rem;} 
.nav-item.active {border-bottom: 5px solid var(--blueA);}   
.nav-item img{width: 2rem;}
    /* End of Footer_Nav */
/* End of Header & Footer_Nav */
/* Main view areas */
.view{height: 80vh; width: 100%; }
.page{ opacity: 0; transform: translateY(-20vh); transition: 0.3s ease-in-out; height: 100%; flex-direction: column; justify-content: space-between!important;}
.page.active{ opacity: 1; transform: translateY(0);}
    /* Home section */
.home{width: 100%;}
        /* Tempo Selector */
.home .container{border: 1px solid var(--blueA); border-radius: 50%;height: 200px; width: 200px; margin: 2rem 0; flex-direction: column!important; position: relative;}
.home i{position: absolute; border-radius: 50%; border: 1px solid var(--blueA); width: 3.5rem; height: 3.5rem; background-color: var(--darkcolor);}
.minus{left: -40px;}
.plus{right: -40px;}
.home .tempo{width: 80%; height: 80%; border-radius: 50%; color: var(--black);}
.home .tempo::after{position: absolute; content: ""; width: 50%; height: 50%; box-shadow: 6px 6px 13px var(--shadowDark) inset, -6px -6px 13px var(--shadowLight) inset; border-radius: 50%; background-color: rgb(255, 255, 255); z-index: -1;}
.home .slider{position: absolute; bottom: -2rem; }
        /* End of Tempo Selector */
        /* Base Selector & Start btn*/
.selectors{flex-direction: column; width: 150px; height: 150px; margin-bottom: 2rem; border-radius: 50%; border-left: 2px solid var(--blueA); position: relative; left: -30px;}
.selectors::before{border-radius: 50%; position: absolute; left: 115px; content: ""; width: 90%; height: 90%; box-shadow: 6px 6px 13px var(--shadowDark), -6px -6px 13px var(--shadowLight);}
.baseSelect{position: absolute; left: -20px; box-sizing: border-box; padding: 0.5rem; border-radius: 50%; border: 1px solid var(--blueA); color: var(--blueA); background-color: var(--darkcolor);}
.baseSelect.active{color:var(--darkcolor); background-color: var(--blueB);}
.btn{position: absolute; border: none; height: 70%; width: 70%; border-radius: 50%; color: var(--lightcolor); font-size: 1.2rem; left: 130px; letter-spacing: 0.1rem;}
.btn.gradient{background: rgb(23, 100, 150); background: radial-gradient(circle, rgb(23, 100, 150) 0%, rgba(33,127,221,1) 25%, rgba(3,6,9,1) 70%);}

.baseSelect.two{top: -15px; left:40px;}
.baseSelect.three{top: 10px; left:-10px;}
.baseSelect.six{bottom: 10px; left:-10px;}

.baseSelect.nine{bottom: -15px; left:40px;}
        /* End of Base Selector & Start btn*/
    /* End of Home section */
    /* Part section */
.part{width: 100%;}
.part .form-container{width: 80%; height: 15%; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);z-index: -5; position: relative; top: -20px; border-radius: 20px; padding: 20px 0.2rem 0 0.2rem; }
.part form {width: 100%; justify-content: space-between;}
.part input[type="number"] {-webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;}
.part input[type=number]::-webkit-inner-spin-button,.part input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
.part input, .part select{height: 2rem; margin: 0.5rem; font-size: 1rem; text-align: center; border-radius: 20px; border: none; background: none; max-width: 20vw;}
.part .nb-mesures{}
.part .tempo{}
.part select{}
.part option{}
.part button{margin-left: auto; padding: 0.3rem 0rem; border-radius: 50%; background: var(--blueA); border: 3px solid var(--blueB); color: var(--lightcolor); letter-spacing: 0.2rem; font-weight: bold; font-size: 0.5rem;}
/* Modules */
.mod-container{width: 80%;}
.mod-item{}
    /* End of Part section */
    /* Save section */
    
    /* End of Save section */
/* End of Main view areas */