/* Import font // font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
/* Variables */
:root{
    --black: rgb(30, 30, 30);
    --darkcolor: rgb(90, 90, 90);
    --lightcolor: rgb(200, 200, 200);
    --white: rgb(230, 230, 230);
    --blueA: rgb(50, 110, 220, .8);
    --blueB: rgb(30, 110, 255);
    --shadowDark:rgba(30, 30, 30, .4);
    --shadowLight:rgb(230, 230, 230, .3);
}
/* End of Variables */
/* General Styling rules */
*{padding: 0; margin: 0;  font-family: 'Roboto', sans-serif; box-sizing: border-box;}
body{text-align: center; justify-content: space-between!important; flex-direction: column; height: 100vh; background-color: var(--darkcolor); color: var(--lightcolor);}
img{width: 3rem;}
/* End  of General Styling rules */
/* Utility Classes */
.center{display: flex; justify-content: center; align-items: center;}
.morph{box-shadow: 6px 6px 13px var(--shadowDark), -6px -6px 13px var(--shadowLight);}
/* End of Utility Classes */
/* Header & Footer_Nav */
    /* Header */
.title{width: 100%; height: 10vh;}
.title-text{font-size: 2.5rem; font-weight: normal; letter-spacing: 0.5rem;}
.title-text span{color:var(--blueB); font-weight: bold;}
    /* End of Header */
    /* Footer_Nav */
.nav{width: 100%; height: 10vh;}
.nav-item{margin: 0 2rem;} 
.nav-item:active {border-bottom: 5px solid var(--blueA);}   
.nav-item img{width: 2rem;}
    /* End of Footer_Nav */
/* End of Header & Footer_Nav */
/* Main view areas */
.view{height: 80vh; width: 100%; }
    /* Home section */
.home{height: 100%; flex-direction: column; justify-content: space-between!important;}
        /* Tempo Selector */
.home .container{border: 1px solid var(--blueA); border-radius: 50%;height: 200px; width: 200px; margin: 2rem 0; flex-direction: column!important; position: relative;}
.home i{position: absolute; border-radius: 50%; border: 1px solid var(--blueA); width: 3.5rem; height: 3.5rem; background-color: var(--darkcolor);}
.minus{right: -40px;}
.plus{left: -40px;}
.home .tempo{width: 80%; height: 80%; border-radius: 50%; color: var(--lightcolor);}
.home .tempo::after{position: absolute; content: ""; width: 50%; height: 50%; box-shadow: 6px 6px 13px var(--shadowDark) inset, -6px -6px 13px var(--shadowLight) inset; border-radius: 50%; background-color: rgb(110, 110, 110); z-index: -1;}
.home .slider{position: absolute; bottom: -2rem;}
        /* End of Tempo Selector */
        /* Base Selector & Start btn*/

        /* End of Base Selector & Start btn*/
    /* End of Home section */
    /* Part section */
    
    /* End of Part section */
    /* Save section */
    
    /* End of Save section */
/* End of Main view areas */